//! **************************************************************************
// Written by: Map P.20131013 on Wed Feb 22 20:28:23 2017
//! **************************************************************************

SCHEMATIC START;
COMP "sensor_clk" LOCATE = SITE "G3" LEVEL 1;
COMP "interrupt" LOCATE = SITE "F2" LEVEL 1;
COMP "SPI_clk" LOCATE = SITE "J7" LEVEL 1;
COMP "SI1" LOCATE = SITE "G11" LEVEL 1;
COMP "chip_select" LOCATE = SITE "K2" LEVEL 1;
COMP "SPI_MISO" LOCATE = SITE "J6" LEVEL 1;
COMP "SPI_cs" LOCATE = SITE "G1" LEVEL 1;
COMP "fpga_clk" LOCATE = SITE "V10" LEVEL 1;
COMP "serial_data1" LOCATE = SITE "V12" LEVEL 1;
COMP "serial_data2" LOCATE = SITE "N10" LEVEL 1;
COMP "ADC_clk" LOCATE = SITE "L3" LEVEL 1;
NET "clock_manager/clkin1" PERIOD = 10 ns HIGH 50%;
SCHEMATIC END;

