NET "fpga_clk" LOC = P15;
NET "fpga_clk" PERIOD = 10.0ns HIGH 50%;

NET "serial_data1" LOC = P142;
NET "serial_data2" LOC = P138;
NET "ADC_clk" LOC = P140;
NET "chip_select" LOC = P141;

NET "sensor_clk" LOC = P46;
NET "SI1" LOC = P45;